$bgcolor:#7C8398;
$font-color:#fff;
$color:#070707;
$primary-color: #008ed6;
$bg-color:rgb(15, 15, 15);


body{
    background-color: $font-color;
    color:$color;
    
    
}

#map{
height:400px;
width:100%;
}
